.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-flow: column;
}

label {
    color: rgb(80, 235, 255);
}

input,
select {
    margin: 20px;
    padding: 5px;
    width: 150px;
}

.checkbox {
    display: flex;
    width: 120px;
}

.table,
tr,
td {
    text-align: center;
    width: auto;
    height: auto;
    border: 1px solid #000;
}

input[type=button] {
    background-color: rgb(211, 241, 253);
    border: 2px solid mintcream;
}